In [10]:
from data_processing import *

In [2]:
generate_economic_indicators()

cpi_month csv is set
cpi_semiannual csv is set
unemployment csv is set
gdp csv is set
fundrate_day csv is set
fundrate_week csv is set
fundrate_month csv is set
retail csv is set
durables csv is set
Done

In [2]:
# df1 = generate_SP500_index()
# df2 = generate_SP500_index(index='energy')
df3 = generate_SP500_index(index='industry')
# df4 = generate_SP500_index(index='consumer')

[*********************100%***********************]  1 of 1 completed
SP500 - industry data saved

In [3]:
# df3 = df3.rename(columns={"Date":"date"})
df3.head()

        date      Close
0 1993-05-04  94.949997
1 1993-05-05  95.599998
2 1993-05-06  96.019997
3 1993-05-07  95.919998
4 1993-05-10  95.910004

In [4]:
cpi_month = get_df(input = 'cpi_month')
cpi_month.head()

        date  cpi_month
0 2022-12-01    296.797
1 2022-11-01    297.711
2 2022-10-01    298.012
3 2022-09-01    296.808
4 2022-08-01    296.171

In [4]:
fundrate_week = get_df(input = 'fundrate_week')
fundrate_week.head()

        date  fundrate_week
0 2023-01-25           4.33
1 2023-01-18           4.33
2 2023-01-11           4.33
3 2023-01-04           4.33
4 2022-12-28           4.33

In [11]:
SP500_industry = get_df(input='SP500_industry')
SP500_industry.head()

        date      Close
0 1993-05-04  94.949997
1 1993-05-05  95.599998
2 1993-05-06  96.019997
3 1993-05-07  95.919998
4 1993-05-10  95.910004

In [15]:
# select the time range for SP500
select_sp500 = subset(SP500_industry, 
                        start_time = '2020-01-12',
                        end_time = '2022-12-30'
                        )

In [7]:
select_sp500.head()

           date       Close
6719 2020-01-13  704.159973
6720 2020-01-14  704.150024
6721 2020-01-15  704.750000
6722 2020-01-16  711.840027
6723 2020-01-17  711.830017

In [8]:
select_sp500.tail()

           date       Close
7463 2022-12-23  832.859985
7464 2022-12-27  835.580017
7465 2022-12-28  824.599976
7466 2022-12-29  834.700012
7467 2022-12-30  831.400024

In [16]:
# modify the SP500 (sector) index with moving average
select_sp500 = moving_average(df = select_sp500,
                              MA = 7
                              )
select_sp500.head(10)

/Users/gawain/finance_project/data_processing.py:169: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

           date       Close         MA7
6719 2020-01-13  704.159973         NaN
6720 2020-01-14  704.150024         NaN
6721 2020-01-15  704.750000         NaN
6722 2020-01-16  711.840027         NaN
6723 2020-01-17  711.830017         NaN
6724 2020-01-21  704.099976         NaN
6725 2020-01-22  700.020020  705.835720
6726 2020-01-23  707.900024  706.370013
6727 2020-01-24  704.530029  706.424299
6728 2020-01-27  691.380005  704.514300